<br><br><center><table><tr><td>HEIGHT</td><td>

<center>WEIGHT IN POUNDS</center>
<table cellpadding=10 border=1>
<tr><td>5' 0"</td>    <td bgcolor=pink>99 or lower</td><td bgcolor=pink>100 thru 125</td><td bgcolor=lightblue>126 or higher</td></tr>
<tr><td>5' 1"</td>    <td bgcolor=pink>104 or lower</td><td bgcolor=pink>105 thru 127</td><td bgcolor=lightblue>128 or higher</td></tr>
<tr><td>5' 2"</td><td bgcolor=pink>109  or lower</td><td bgcolor=pink>110 thru 130</td><td bgcolor=lightblue>131 or higher</td></tr>
<tr><td>5' 3"</td><td bgcolor=pink>114  or lower</td><td bgcolor=pink>115 thru 135</td><td bgcolor=lightblue>136 or higher</td></tr>
<tr><td>5' 4"</td><td bgcolor=pink>119  or lower</td><td bgcolor=pink>120 thru 137</td><td bgcolor=lightblue>138 or higher</td></tr>



<tr><td>5' 5"</td><td bgcolor=yellow>124  or lower</td><td bgcolor=yellow>125 thru 145</td><td bgcolor=blue><font color=white>146 or higher</td></tr>
<tr><td>5' 6"</td><td bgcolor=yellow>129  or lower</td><td bgcolor=yellow>130 thru 148</td><td bgcolor=blue><font color=white>149 or higher</td></tr>
<tr><td>5' 7"</td><td bgcolor=yellow>134  or lower</td><td bgcolor=yellow>135 thru 152</td><td bgcolor=blue><font color=white>153 or higher</td></tr>
<tr><td>5' 8"</td><td bgcolor=yellow>139  or lower</td><td bgcolor=yellow>140 thru 155</td><td bgcolor=blue><font color=white>156 or higher</td></tr>



<tr><td>5' 9"</td><td bgcolor=orange>144  or lower</td><td bgcolor=orange>145 thru 165</td><td bgcolor=darkblue><font color=white>166 or higher</td></tr>
<tr><td>5' 10"</td><td bgcolor=orange>149  or lower</td><td bgcolor=orange>150 thru 169</td><td bgcolor=darkblue><font color=white>170 or higher</td></tr>
<tr><td>5' 11"</td><td bgcolor=orange>154  or lower</td><td bgcolor=orange>155 thru 172</td><td bgcolor=darkblue><font color=white>173 or higher</td></tr>
<tr><td>6' 0"</td><td bgcolor=orange>159  or lower</td><td bgcolor=orange>160 thru 177</td><td bgcolor=darkblue><font color=white>178 or higher</td></tr>

<tr><td>6' 1"</td><td bgcolor=orange>164  or lower</td><td bgcolor=orange>165 thru 185</td><td bgcolor=darkblue><font color=white>186 or higher</td></tr>
<tr><td>6' 2"</td><td bgcolor=orange>169  or lower</td><td bgcolor=orange>170 thru 190</td><td bgcolor=darkblue><font color=white>191 or higher</td></tr>
</table>
</td></tr></table>

</center>